{% extends 'ExtranetAppBundle::layout.html.twig' %}
		{% block body %}
		    
			<div class="page_title">Divers</div>
			
			<article>
				<a href="{{ path('entete') }}" title="">Ent&ecirc;te</a>
			</article>
			<article>
				<a href="{{ path('pied')}}" title="">Pied de page</a>
			</article>
			<article>
				<a href="{{ path('conditions')}}" title="">Conditions g&eacute;n&eacute;rales</a>
			</article>
			<article>
				<a href="{{ path('taux') }}" title="">Taux par d&eacute;faut</a>
			</article>

        <div class="section_retour">            
            <a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
        </div>
			
		{% endblock %}