{% extends 'ExtranetAppBundle::layout.html.twig' %}

{% block body %}
<h1>Personnel</h1>

<div id="voir">

    <div class="page_title"> Profil de <strong><span class="capitalize">{{ entity.prenom }}</span> <span class="uppercase">{{ entity.nom }}</span></strong></div>

    <p class="capitalize">
        <span class="attribute">Nom:</span>
        <span class="capitalize">
            {% if  entity.civilite != false %}
                Mr 
            {% endif %}
            {% if entity.civilite == false %}
                Mme 
             {% endif %}</span><span class="uppercase">
                {{ entity.nom }}
             </span> 
             <span class="capitalize">
                {{ entity.prenom }}
             </span>
    </p>

    <p>
        <span class="attribute">Qualification:</span>
        <span class="qualification">Night</span><span class="qualification">Receptionniste</span><span class="qualification">Caf&eacute;teria</span><span class="qualification">Femme de chambre</span>
    </p>

    <p>
        <span class="attribute">Email:</span>{{ entity.email }}
    </p>

    <p>
        <span class="attribute">Tel:</span>{{ entity.tel }}
    </p>

    <p>
        <span class="attribute">Date de naissance:</span>{{ entity.dob|date('j-M-Y') }}
    </p>

    <p>
        <span class="attribute">Securit&eacute; sociale:</span>{{ entity.ss }}
    </p>

    <p class="addresse">
        <span class="attribute">Addresse:</span>
        <span>{{ entity.adresse }}</span>
    </p>
    <div class="clear"></div>
    
    <p>
        <span class="attribute">Nationalit&eacute;:</span>{{ entity.nationalite }}
    </p>

    <p>
        <span class="attribute">Qualification:</span>Night, R&eacute;ceptionniste, caf&eacute;teria.
    </p>

        {% if  entity.active != false %}
            <p class="safe pad5">
                Cette personne est active et peut &ecirc;tre embauch&eacute;.
    
                <p><a href="{{ path('personnel_edit', { 'id': entity.id }) }}" title="" class="danger">D&eacute;sactiver  cette personne</a></p>
            </p>
        {% endif %}
        {% if entity.active == false %}
            <p class="danger pad5">
                Cette personne est inactive et ne peut pas &ecirc;tre embauch&eacute;.


                <p><a href="{{ path('personnel_edit', { 'id': entity.id }) }}" title="" class="safe">Activer  cette personne</a></p>
            </p>
        {% endif %}

</div>

<div class="section_retour">
    <a href="{{ path('personnel') }}">Retour &agrave; la gestion du personnel</a>
    
    <a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
</div>
<div class="clear"></div>
    

{% endblock %}
