{% extends 'ExtranetAppBundle::layout.html.twig' %}


{% block title %}
    Tableau de bord
{% endblock %}
{% block body %}

   		<div id="welcome">
   		<div class="page_title">Tableau de bord</div>
			
			<article>
				<a href="{{ path('personnel') }}" title="">Employ&eacute;</a>
			</article>
			<article>
				<a href="{{ path('utilisateur') }}" title="">Utilisateur</a>
			</article>
			<article>
				<a href="{{ path('qualification') }}" title="">Qualification</a>
			</article>
			<article>
				<a href="{{ path('disposition') }}" title="">Mise &agrave; disposition</a>
			</article>
			<article>
				<a href="{{ path('divers') }}" title="">Divers</a>
			</article>
		</div>
{% endblock %}