{% extends 'ExtranetAppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Liste des mises à disposition</h1>
        

        <ul>
            <li>
                <a href="{{ path('disposition_new') }}">
                    Créer une nouvelle mise à disposition
                </a>
            </li>
        </ul>

        <div class="clear"></div>
    <section id="disposition_index">
        <table class="records_list">
            <thead>
                <tr>
                    <th class="large">Personnel</th>
                    <th class="large">Utilisateur</th>
                    <th class="large">Créer le</th>
                    <th class="small">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
    {#                 <td><a href="{{ path('disposition_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
     #}                
                    <td class="large"><a href="#" title="">{{ entity.personnel.prenom }} {{ entity.personnel.nom }}</a></td>
                    <td class="large">{{ entity.utilisateur.entite }}<br>({{ entity.utilisateur.contact }}) </td>
                    <td class="large">{{ entity.createdAt|date('j-m-Y H:i') }}</td>
                    <td class="small">
                        <ul>
                            <li>
                                <a href="{{ path('disposition_show', { 'id': entity.id }) }}">Voir</a>
                            </li>
                            <li>
                                <a href="{{ path('disposition_edit', { 'id': entity.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

        <div class="section_retour">
            <a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
        </div>
    {% endblock %}
