{% extends 'ExtranetAppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Création d'une mise à disposition</h1>
    {{ form_start(form) }}
    {{ form_row(form.personnel) }}
    {{ form_row(form.qualification) }}
    {{ form_row(form.wkdate) }} <a href="#" class="add_date clear">+</a>
    <div class="clear"></div>
    {{ form_row(form.utilisateur) }}

    {{ form(form) }}
    

		<div class="section_retour">
			<a href="{{ path('disposition') }}" title="Retour à la gestion des mises a disposition">Retour &agrave; la gestion des mises à disposition</a>
			
			<a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
		</div>


		<script>
		    $('a.add_date').live('click', function(event){
		        event.preventDefault();
		        
		        var collectionHolder = $('#extranet_dispositionbundle_disposition_wkdate');
		        var prototype = collectionHolder.attr('data-prototype');
		        form = prototype.replace(/__name__/g, collectionHolder.children().length);
		        collectionHolder.append(form);
		    });
		</script>
<script>
	// 	var $collectionHolder;

	// 	// setup an "add a tag" link
	// 	var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter une date</a>');
	// 	var $newLinkLi = $('div.wkdate').append($addTagLink);

	// 	jQuery(document).ready(function() {
	// 	    // Get the ul that holds the collection of tags
	// 	    $collectionHolder = $('div#wkdate');

	// 	    // add the "add a tag" anchor and li to the tags ul
	// 	    $collectionHolder.append($newLinkLi);

	// 	    // count the current form inputs we have (e.g. 2), use that as the new
	// 	    // index when inserting a new item (e.g. 2)
	// 	    $collectionHolder.data('index', $collectionHolder.find(':input').length);

	// 	    $addTagLink.on('click', function(e) {
	// 	        // prevent the link from creating a "#" on the URL
	// 	        e.preventDefault();

	// 	        // add a new tag form (see next code block)
	// 	        addTagForm($collectionHolder, $newLinkLi);
	// 	    });
	// 	});





	//     function addTagForm($collectionHolder, $newLinkLi) {
	//     // Get the data-prototype explained earlier
	//     var prototype = $collectionHolder.data('prototype');

	//     // get the new index
	//     var index = $collectionHolder.data('index');

	//     // Replace '__name__' in the prototype's HTML to
	//     // instead be a number based on how many items we have
	//     var newForm = prototype.replace(/__name__/g, index);

	//     // increase the index with one for the next item
	//     $collectionHolder.data('index', index + 1);

	//     // Display the form in the page in an li, before the "Add a tag" link li
	//     var $newFormLi = $('#wkdate').append(newForm);
	//     $newLinkLi.before($newFormLi);
	// }
	</script>
{% endblock %}
