{% extends 'ExtranetAppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Création d'une mise à disposition</h1>
{{ form_start(form) }}
    {{ form(form) }}
    {{ form_row(form.taux.normale, {'attr': {'class' : 'taux.normale'}}) }}
    {# {{ dump(taux) }} #}
    {{ form_row(form.taux.repas, {'attr': {'value' : taux.repas}}) }}
    {{ form_row(form.taux.transport, {'attr': {'value' : taux.transport}}) }}


		<div class="section_retour">
			<a href="{{ path('disposition') }}" title="Retour à la gestion des mises a disposition">Retour &agrave; la gestion des mises à disposition</a>
			
			<a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
		</div>
{% endblock %}
